@import "../../../styles/";

.show-pictures {
  width: 209px;
  height: 699px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  .points {
    width: 40px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    z-index: 3;
    .checkbox {
      display: none;
      &:checked + .new-checkbox::before {
        opacity: 1;
      }
    }
    .new-checkbox {
      display: block;
      width: 6px;
      height: 6px;
      border: 2px solid #ffffff;
      position: relative;
      margin-bottom: 10px;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 2px;
        height: 2px;
        background-color: #ffffff;
        opacity: 0;
        transition: 0.2s;
      }
    }
  }
  .pictures {
    width: auto;
    height: auto;
    display: flex;
    transform: translate(0%);
    transition: 1s;
    position: absolute;
    .advertising {
      width: 209px;
      height: 699px;
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      background: $socialsColor;
      .logo-picture {
        padding: 45px 0px;
      }
      .text-crypto {
        padding: 10px 0px;
        font-family: Exo;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: white;
      }
      .properties {
        padding: 15px 0px;
        li {
          list-style: none;
          font-family: Exo;
          font-style: normal;
          font-size: 12px;
          line-height: 30px;
          text-align: center;
          color: white;
        }
      }
      .logo-building {
        padding: 28px 0px;
      }
      .point-lt {
        width: 2px;
        height: 2px;
        background-color: $colorPoint;
        position: absolute;
        left: 0px;
        top: 0px;
      }
      .point-rt {
        width: 2px;
        height: 2px;
        background-color: $colorPoint;
        position: absolute;
        right: 0px;
        top: 0px;
      }
      .point-lb {
        width: 2px;
        height: 2px;
        background-color: $colorPoint;
        position: absolute;
        left: 0px;
        bottom: 0px;
      }
      .point-rb {
        width: 2px;
        height: 2px;
        background-color: $colorPoint;
        position: absolute;
        right: 0px;
        bottom: 0px;
      }
    }
  }
}
